[2015-10-10 06:16] Asuza opened #1 "Prevent constant server requests when replaying a battle"

[2015-10-10 06:17] Asuza opened #2 "Prevent constant re-loading of images when replaying a battle"

[2015-10-10 06:19] Asuza opened #3 "Update all links to point to new locations"

[2015-10-10 06:20] Asuza opened #4 "Update README.me as appropriate"

[2015-10-10 08:05] Asuza opened #5 "Prevent loading user info more than once per page load"

[2015-10-10 08:06] Asuza opened #6 "User dropdown menu in navigation bar is not working"

[2015-10-10 08:06] #5 closed

[2015-10-10 08:10] Asuza opened #7 "Update battle sprites to have a consistent feel"

[2015-10-10 08:12] Asuza opened #8 "Switching tabs causes a script error"
The "tabs" under "Learn the Basics" and under your user options (at the bottom of the page) cause script errors when they are clicked.

[2015-10-10 08:14] Asuza commented on #8
The "tabs" under "Learn the Basics" and under your user options (at the bottom of the page) cause script errors when they are clicked.

[2015-10-12 05:37] Asuza opened #9 "Provide API to download an entire battle's data at once"

[2015-10-28 03:28] natedsaint commented on #6
I'm unable to figure out the issue here: it does work although it's floating strangely.

[2015-10-28 03:34] Asuza commented on #6
It wouldn't do anything at all for me... I'll try it again as soon as i can.

[2015-10-28 16:14] natedsaint commented on #6
Turned out to be caused by the dev files not all being properly included, so just use the build process (grunt watch now goes in about 3 seconds or so).

[2015-10-28 16:14] #6 closed

[2015-10-28 16:15] natedsaint commented on #8
Same issue as the user dropdown: not broken in the built version. Use grunt watch to quickly build in dev to verify.

[2015-10-28 16:15] #8 closed

[2015-11-10 15:35] Asuza commented on #1
Closed by PR #10

[2015-11-10 15:35] #1 closed

[2015-11-10 15:35] Asuza commented on #9
Closed by PR #10

[2015-11-10 15:35] #9 closed

[2015-11-22 09:07] Asuza opened #11 "Fix Team layout for 3 people and not 4"

[2015-12-23 20:45] Asuza opened #12 "Update site meta data to include the site banner"
Take a screenshot of the header on the [JavaScript Fight Club](https://jsfight.club/) website so that it is a 16:9 aspect ratio and shows both the red and blue heroes. Include that new image as the social media image as described by the [guide to unfurling](https://medium.com/slack-developer-blog/everything-you-ever-wanted-to-know-about-unfurling-but-were-afraid-to-ask-or-how-to-make-your-e64b4bb9

[2016-04-03 23:28] Asuza commented on #11
Closing as this would be a waste of time.

[2016-04-03 23:28] #11 closed

[2016-04-03 23:30] Asuza commented on #4
Moving this ticket back to "Ready" because it will need updated again after migrating to PostgreSQL.

[2016-04-03 23:30] Asuza opened #13 "Move from Mongo DB to PostgreSQL"

[2016-09-06 17:01] #13 closed

[2016-10-08 18:10] #7 closed

[2016-10-08 18:50] #2 closed

[2016-10-09 18:23] Asuza commented on #3
Hopefully this is all covered in PR #19

[2016-10-15 15:19] #3 closed

[2016-10-15 15:19] #4 closed

[2016-10-15 15:27] Asuza opened #21 "Diamonds are being given to the wrong team"
If you view the current game at the [JavaScript Fight Club](https://jsfight.club/) website, it appears that all of the diamonds the red team collected are showing up as if the blue team got them.

If you inspect the game object using the following code:
[code]
You will be able to see that the correct hero is getting diamonds, but they're being counted toward the wrong team.

[2016-10-16 21:29] slugo opened #22 "Problem logging-in"
Is the website ready to be used ? I forked the `hero-starter` repository so I could participate but then when I tried to log in with github at `jsfight.club`, I entered my credentials and then page just keeps loading until eventually I get a `504 Gateway Time-out` error.

On another note, seems like you can access an unsecured version of the website at `http://jsfight.club/` that maybe should be r

[2016-10-16 23:06] Asuza commented on #22
@slugo thanks for pointing that out! I apparently haven't tried logging in as a new user after I merged the website repo and game-runner repo together.

I have pushed a fix live to address the issue. Please re-open this issue if you have any more problems.

[2016-10-16 23:08] Asuza commented on #22
Regarding the redirect, you are correct. It's just something I haven't gotten to yet.

[2016-10-17 12:58] slugo commented on #22
@Asuza Oh ok, I just found the project and really liked it so wanted to test it out. Also, don't know if it's related but after your fix I managed to log in, but when trying to look at my stats and settings I kept getting some errors when changing tabs and now the website is entirely unreachable.

[2016-10-17 14:19] Asuza commented on #22
Hey @slugo, I see that you got some errors and will fix that problem asap. There's nothing obviously wrong with the site that would cause it to be down, so I'm looking into that issue as well.

[2016-10-17 14:30] Asuza commented on #22
@slugo, the website is online and you should be able to log in just fine now, but it is still a work in progress until we release it officially. Thanks for breaking some things!

[2016-10-17 19:51] #22 closed

[2016-10-19 02:43] slugo opened #24 "Can't start server"
I'm trying to get the application started but I'm getting `Error: Cannot find module '../secrets'`, I guess that's related to the database, so I guess there's something else that needs to be done aside from installing npm and bower dependencies?

[2016-10-19 14:05] Asuza commented on #24
@slugo you are correct. I've moved a lot of things around since starting on this project, and didn't realize the file was missing.

If you look in the *gamerunner* folder there is a *[secrets-template.js](https://github.com/JSJitsu/ai-battle-website/blob/master/gamerunner/secrets-template.js)* file that you can copy to be your *secrets.js*. You should be able to follow the instructions within that

[2016-10-19 17:44] #21 closed

[2016-10-19 17:50] Asuza opened #26 "Update the battle roster to show the same badge that's on the field"
If you look at a battle on [the website](https://jsfight.club), you can see that in the list of active players, it shows `(id:3)` instead of the nicer square badge that's on the battlefield.

Update the battle roster to show the square badge instead of the "id" text.

[2016-10-19 21:41] Asuza opened #27 "Improve instructions to get the server up and running"
The readme does not accurately describe how to get the website set up. Improve the instructions so it's easier to get started. See #24 for some information on missing documentation.

Don't worry about improving the process to get it up and running in this issue, but if part of getting set up is convoluted, please discuss it here and we can create new issues as needed.

[2016-10-19 21:42] Asuza commented on #24
I created #27 to help address this issue.

[2016-10-20 05:10] slugo commented on #24
Thanks, I used `secrets-template.js` to create the `secrets.js` file and entered the required information after creating the local database and registering the app on github for authentication. However, as I don't have the database configured correctly with all it's tables and such, I'm still getting some errors getting the server started, the first one being `error: relation "session" does not ex

[2016-10-20 05:46] Asuza commented on #24
@slugo, the last step should be to add the session table. It should be as simple as running the following command:
[code]

[2016-10-21 00:33] slugo commented on #24
Ok, I created the table and the server managed to start, but I also need to create the other ones. After trying to log in I got `error: relation "player" does not exist` and there must be others. How do you suggest to go on about the database config ?

[2016-10-21 00:38] Asuza commented on #24
@slugo, there is a node script, I think in the *gamerunner/database* folder that you can run to set up the rest of the tables. Let me know if it gives you any trouble.

[2016-10-21 02:53] slugo commented on #24
@Asuza thanks, I used `game_runner/database/initialize.js` to create the tables. Although the `game_results` one threw `error: relation "game" does not exist` so I had to create it manually after the script, but everything seems to be fine now :smiley: .

[2016-10-22 16:10] tenshi13 commented on #26
Hey @Asuza, trying to explore a bit more of the jsjitsu projects, i'd like to give this a go also if its cool?

[2016-10-22 16:19] slugo opened #29 "Center team members caption overlay"
Right now when you hover over a team member image, you get caption overlay that doesn't appears to be centered. Is this intended ?

![screenshot from 2016-10-22 12-16-26](https://cloud.githubusercontent.com/assets/15680836/19620754/8ed7192c-9851-11e6-8e69-9d25c28f88f2.png)

[2016-10-22 16:24] Asuza commented on #29
No, it broke when I was fixing a layout issue. It's supposed to be centered.

[2016-10-22 16:26] Asuza commented on #26
Sure! You might need to reference #24 to get things up and running.

[2016-10-22 16:30] tenshi13 commented on #26
wew, yep I just saw #24 and #27... I might comment a bit on #27 if I've got some ideas about it

[2016-10-22 16:36] slugo commented on #29
Can I submit a fix for that then ?

[2016-10-22 17:08] Asuza commented on #29
Of course!

[2016-10-22 18:11] slugo commented on #29
Ok, it also seems that `public/css/main.css` doesn't have all the latest css changes, when I compiled the scss files on `public/scss/` I got some more changes in `main.css` apart from the one I did. Should I only commit my changes to `_meetTeam.scss` ?

[2016-10-22 18:16] Asuza commented on #29
Yes, that's fine. I need to remove the built files and add them to the *.gitignore* file at some point.

[2016-10-22 18:44] #29 closed

[2016-10-23 16:20] slugo opened #31 "Wrong team being shown as the winner"
In the current game that is being showed in the [website](https://jsfight.club/), the winner is being showed is the Blue Team, even though at the end of all the turns Red Team managed to stay with one member alive and has more diamonds than the blue team.

![image](https://cloud.githubusercontent.com/assets/15680836/19627657/c899adfa-9919-11e6-86d7-64657d133d35.png)

Looking at the code in [GameVi

[2016-10-23 16:41] Asuza commented on #31
Good catch! This sounds like a straightforward fix. I definitely don't want the wrong winner showing up after the official release.

[2016-10-24 02:22] #31 closed

[2016-10-24 14:14] Asuza commented on #12
Fixed by @tacensi, though he will likely be making improvements to it later.

[2016-10-24 14:14] #12 closed

[2016-10-25 00:34] slugo opened #33 "Incorrect average stats for user"
In the average stats tab, `Deaths`, `Damage Dealt`, `Mines Captured`, and `Graves Robbed`, are always shown as 0. You can see my user lifetime stats are displaying correctly, but average stats are not being displayed accordingly.
![screenshot from 2016-10-24 20-27-34](https://cloud.githubusercontent.com/assets/15680836/19668891/ff72c00e-9a28-11e6-8712-4c201e475bdf.png)
![screenshot from 2016-10-24

[2016-10-28 14:15] Asuza opened #34 "Convert the arguments utility to commander.js"
Recently, in the hero-starter repo, the CLI arguments library [commander.js](https://github.com/tj/commander.js) was introduced. Replace the existing argument library in this repo with commander.js to maintain consistency across the project.

[2016-10-28 14:16] Asuza commented on #34
@tenshi13, if you would like to do this, please let me know. Otherwise, I'll worry about it later or add it to Hacktoberfest. Thanks!

[2016-10-28 16:41] Asuza commented on #24
@slugo if you are planning on fixing #27, please let me know. Otherwise, I'd like to update it soon to be more current in case anyone else wants to contribute.

[2016-10-28 17:01] slugo commented on #24
Oh right, yes I will update with some info when I get home.

[2016-10-28 17:09] Asuza commented on #24
Cool, thanks!

[2016-10-29 07:46] tenshi13 commented on #34
@Asuza, hey man, I don't mind doing this, but am still trying to set up the website atm, will have a look at #26 before I get to this

[2016-10-29 15:15] slugo commented on #27
Ok, so this were the steps I followed to get the website up and running:

1. Clone repository and install dependencies with `npm install` and `bower install`.
2. Install `postgresql` and create a database and user to be used by the website, I did it manually, but then found out there was a script for doing this at `gamerunner/database/setup-postgres.sh` that executed the same commands I did so run

[2016-10-30 05:08] Asuza commented on #33
I got this partially fixed, but it's got way too many decimal places. I'm not going to close this until that gets fixed.

[2016-10-30 05:09] Asuza commented on #27
That's way too complicated! One more thing to fix, I suppose.

[2016-10-30 15:15] tenshi13 commented on #26
PR : https://github.com/JSJitsu/ai-battle-website/pull/35

[2016-10-30 15:27] tenshi13 commented on #27
some minor suggestion:
- some tutorial/instruction to run the server with --no-github, by running the gamerunner/run-test-game.js
- Grunt -> saw that the project is still using grunt-contrib-sass (requires ruby, if im not wrong), from past projects it was suggested to use grunt-sass(node lib-sass) instead, it's faster and doesn't need ruby

[2016-10-31 12:24] tenshi13 opened #36 "Inconsistent Github user object property "github_login""
@Asuza hey man, I believe I've found a small bug in one of the battle test runners:
ai-battle-website/gamerunner/run-test-game.js @ln 45

I believe the property name should be 'github_login' instead
currently if I run the run-test-game.js

it will spit out:
`Adding user: undefined to game 0, team 0`

can you please verify if this is correct?
I can do a PR for this after your confirmation

[2016-10-31 17:27] Asuza commented on #36
After following the code path to the ai-battle-engine, the planAllGames method is referencing `github_login`, so I believe you are correct.

[2016-10-31 17:37] Asuza commented on #26
Fixed by #35

[2016-10-31 17:37] #26 closed

[2016-11-01 04:37] tenshi13 commented on #36
@Asuza did a PR : https://github.com/JSJitsu/ai-battle-website/pull/38

[2016-11-01 22:25] Asuza commented on #36
Fixed by #38!

[2016-11-01 22:25] #36 closed

[2016-11-01 22:27] Asuza commented on #27
@tenshi13 I'll keep that in mind, regarding sass. I'd like to get rid of grunt entirely and switch to gulp or something else, someday.

[2016-11-02 18:29] Asuza commented on #33
Fixed it!

[2016-11-02 18:29] #33 closed

[2016-11-17 12:07] tenshi13 commented on #34
@Asuza hey man real sorry for delays, I'm a bit under pump at work on a payment project... will get this done in a bit : P

[2016-11-18 19:50] Asuza commented on #34
Thanks, @tenshi13! Not a problem at all. I know the feeling.

[2016-11-29 06:52] #27 closed

[2016-11-29 06:53] Asuza commented on #24
Closing this with the recent enhancements to the readme and other helpful code additions.

[2016-11-29 06:53] #24 closed

[2016-12-13 11:26] tenshi13 commented on #34
@Asuza sorry finally had some time to had a look, just learned that commander.js had some limitations... it does not support or condition for cli inputs, and the help message is not very flexible... can you please have a look at PR : https://github.com/JSJitsu/ai-battle-website/pull/44

[2016-12-14 00:11] Asuza commented on #34
@tenshi13, thanks for the help! I will look at it as soon as I can. In the meantime, https://jsfight.club is officially launched, if you're interested. :smile:

[2017-01-09 16:01] davmillar opened #46 "Clicking the 'page-top' link and then refreshing prevents game from loading."
When refreshing the page after clicking the heading link to scroll to the top, the game no longer loads. This seems to be because of the '#page-top' hash and how the site uses hashes to determine what game to display.

[2017-01-09 16:02] davmillar opened #47 "Link to this repo too low-key."
The link to this repo is too low-key. It would be cool if contact/issue reporting were more prominently featured.

[2017-01-26 01:22] natedsaint opened #48 "Improve Terrain Assets"
Look into improving terrain (replace tree sprite, maybe look into randomizing between a few, and same with the grass)

[2017-01-26 20:58] natedsaint commented on #46
@Asuza recently made some changes to let you link to specific games, might have some context. I'll take a look when I get some time.

[2017-02-04 16:52] #47 closed

[2017-02-07 22:55] natedsaint commented on #48
I'm still iterating on this but it's slow going since I'm trying to match the art style but make something distinctive. I may end up going from 32px to 48px.

[2017-02-13 21:51] natedsaint opened #51 "Replace gif animations with css sprites"
And potentially combine all those into a single sprite for load time optimization.

[2017-02-26 18:09] Asuza opened #52 "Missing AI"
The following players are missing AI: @schas002, @papkie, @indiescope, @leon-wbr, @jfh7j, @mateeyow, @TIIGRUS, @mdhalim, @ArgeSwarge, @kongxingagit, @vitalyavolyn, @rymanalu, @adminha, @kre8sions, @olek557, @bganicky, @gnud, @angrykoala, @Raisour, @a7madgamal, @rafaelangical, @htar, and @Asyst.

Please remember to fork the [hero-starter](https://github.com/JSJitsu/hero-starter) to partake in battl

[2017-02-26 19:53] schas002 commented on #52
Oh, I forgot! I still had my sign up from a few days ago! Thanks for making me realise.

[2017-03-30 13:52] Asuza commented on #52
This month, these players are missing AI: @a7madgamal, @adminha, @amirbagh75, @angrykoala, @Asyst, @bganicky, @gnud, @htar, @jfh7j, @kongxingagit, @kre8sions, @Lastrik, @leon-wbr, @mateeyow, @mdhalim, @olek557, @papkie, @rafaelangical, @Raisour, @rymanalu, @TIIGRUS, @vitalyavolyn

Please remember to fork the [hero-starter](https://github.com/JSJitsu/hero-starter) to partake in battle! If you no lo

[2017-03-30 14:01] angrykoala commented on #52
Hi @Asuza Sorry,  I won't be participating for now should I send you an email or something?

[2017-03-30 14:08] jfh7j commented on #52
I won't be participating anymore.

On Mar 30, 2017 7:02 AM, "Andrés" <notifications@github.com> wrote:

[2017-04-01 05:34] vitalyavolyn commented on #52
I won't be participating

[2017-04-21 20:46] bmbeverst opened #53 "Site's certificated expired for https://jsfight.club/"
Please fix your Let's Encrypt configuration.

[2017-04-21 21:30] Asuza commented on #53
Thanks, I'll fix it as soon as I can. It was supposed to be automated...

On Fri, Apr 21, 2017, 3:46 PM Brooks <notifications@github.com> wrote:

[2017-04-24 17:12] Asuza commented on #53
Forced renewal of the SSL certificate.

[2017-09-27 23:00] Asuza commented on #51
Is this a good candidate for Hacktoberfest, @natedsaint?

[2017-09-28 17:26] Asuza opened #54 "Update game-running scripts to use ES6 standards"
Update code in the _gamerunner_ directory to more modern standards:
- Rather than using prototypes, use classes.
- Remove `var` statements in favor of `let` or `const`, and break up multi-var statements into separate lines. For example, `var a = 1, b = 2;` should become `let a = 1; let b = 2;` (on two lines). If the variable has no value, move the `let` where it makes sense. For example,
[code]

[2017-09-28 17:29] t3chguy commented on #54
/me gets to work

[2017-09-28 17:30] t3chguy commented on #54
though can't open the PR until 1st October :P

[2017-09-28 17:30] Asuza commented on #54
No problem, @t3chguy. I'm just trying to get issues ready for the big day.

[2017-09-28 17:33] t3chguy commented on #54
I presume to not use es6 imports as there appears to be no babel in place

[2017-09-28 17:35] Asuza commented on #54
Anything that will run on Node 6 is fair game. None of that code runs in a browser, so nothing to worry about babel-wise.

[2017-09-30 10:28] Asuza opened #55 "Log In button doesn't update with the user's name in Firefox"
Steps to reproduce:
1. Click "Log in with GitHub"
2. Connect your GitHub account to the site, if necessary.
3. The button still shows "Log in with GitHub" instead of the username of the person logged in.

The user settings loads, so the problem seems to be specific to the log in button.

Tested in [Firefox Developer Edition](https://www.mozilla.org/en-US/firefox/developer/) 57.0b3.

[2017-09-30 11:07] Asuza opened #56 "Player accounts should be disabled when we can't get their hero code"
Hero code is retrieved daily via the script: _./gamerunner/user_code/get-user-code-from-github.js_

Occasionally, we're unable to retrieve hero code. After adding necessary columns to the player database table, track the number of times a failure has occurred and then mark the account as disabled* after the 3rd failure.

Once the 3rd failure has occurred, include a disabled reason in the player re

[2017-09-30 11:17] Asuza opened #57 "Track fresh player statistics each month"
We currently have a `player_lifetime_stats` table. Add a new table called `player_monthly_stats` that stores the same information but is wiped clean on the first day of each month before that day's game begin.

Ensure that the stats are being populated into the new table and enhance the leaderboard route so the value of `:timePeriod` determines whether we get data from the lifetime table or the mo

[2017-09-30 11:46] vikasmahato commented on #55
I would like to work on this bug. Can you assign it to me?

[2017-09-30 15:23] Asuza commented on #55
By all means, it's yours. I'll have to see if I can actually mark you as the issue assignee. Right now it only lets me add JSJitsu members.

For comparison, this bug doesn't happen in Chrome. It shows the user name as expected.

[2017-09-30 17:04] t3chguy commented on #54
Staged here https://github.com/JSJitsu/ai-battle-website/compare/master...t3chguy:master

(Will open PR in October)

[2017-09-30 19:35] Asuza commented on #54
Thanks @t3chguy. In regards to https://github.com/JSJitsu/ai-battle-website/compare/master...t3chguy:master#diff-8535c90dfcec366ed93cc47755880f1aR16 I believe that can be removed. I can't find it used anywhere.

[2017-09-30 20:16] ZackTaylor commented on #57
@Asuza I'd like to take a shot at this, but what files would I begin looking in to do so?

[2017-09-30 20:32] Asuza commented on #57
You can see where the lifetime stats get saved here: https://github.com/JSJitsu/ai-battle-website/blob/7fe04da0f8879d7298d96b597dbcec5a5fdadf43/gamerunner/game_logic/GameRunner.js#L450. All of the stats are figured out in that same file.

In regards to the database, most of it's created in this file: https://github.com/JSJitsu/ai-battle-website/blob/master/database/initialize.js. Feel free to add

[2017-10-01 13:13] darrylpargeter commented on #56
Hey @Asuza would it be possible to give this one a go?

[2017-10-01 13:46] Asuza commented on #56
Sure thing, @darrylpargeter.

[2017-10-01 15:11] Asuza commented on #46
Fixed via #59. Thanks, @aewens!

[2017-10-01 15:11] #46 closed

[2017-10-01 21:02] ZackTaylor commented on #57
Ok, ill work on this. ill let you know if I have any questions.

[2017-10-02 15:35] Asuza commented on #57
Just FYI, the readme of this repo contains instructions on starting the vagrant machine. That should ease development pains.

[2017-10-05 01:21] Asuza commented on #54
Fixed via #58. Much appreciated, @t3chguy.

[2017-10-05 01:21] #54 closed

[2017-10-05 14:00] Asuza opened #60 "Write unit tests for GameRunner class using chai"
Tests can be added here: https://github.com/JSJitsu/ai-battle-website/blob/master/gamerunner/test/index.js

Write unit tests to improve code coverage of the GameRunner class, located in _gamerunner/game_logic_, so we have some level of confidence that pushing to production will not unintentionally prevent games from running.

[2017-10-05 14:02] Asuza opened #61 "Clean up unused variables"
In _.eslintrc.json_, turn on "no-unused-vars", then fix any issues found. This can be done by running `npm run lint` from the root directory.

[2017-10-05 14:12] JoeScho commented on #61
I can pick this one up

[2017-10-12 04:49] Asuza opened #65 "Add a simple database patching mechanism"
Currently, making database changes to the production site requires manual intervention. Create a way for the server to automatically apply patches (if needed) before the web server starts.

This change would be helpful when it's time for #56 and #57 to go live.

[2017-10-12 06:24] jcfausto commented on #65
Hi @Asuza, I think I can handle that :-) Let me take a look at this and I'll get back to you soon with a proposal.

[2017-10-14 04:39] Asuza commented on #65
I look forward to seeing it, @jcfausto.

[2017-10-14 19:10] adrichey commented on #60
I will get some tests written for you today. I will start in on this now. 😄

[2017-10-14 22:34] adrichey commented on #60
Just opened the following pull request: https://github.com/JSJitsu/ai-battle-website/pull/66

It is failing the Travis CI build step, due to the config.js file not being copied over from config-template.js. That will need to be updated if this pull request is merged in. If this looks good I will continue to write tests when I have more time next week.

[2017-10-15 01:57] Asuza commented on #60
Thanks! It looks good so far. I'm looking into fixing the build, and will let you know when it's working.

[2017-10-15 03:00] Asuza commented on #60
@adrichey, if you pull in _master_, the build will be fixed. If you want to add tests that require a database, please let me know and I'll work on getting that into the build.

[2017-10-16 22:00] adrichey commented on #60
Cool, it looks like your Travis changes got us through the build. I will try writing more tests throughout the week.

[2017-10-20 13:05] Asuza commented on #65
How's it going, @jcfausto?

[2017-10-20 13:09] Asuza opened #67 "Add ability for the site to run via Docker/Rkt"
Allow the website to run in a container, either with [Docker](https://www.docker.com/) or [Rkt](https://coreos.com/rkt/). It would need to run Node JS and a Postgres database.

[2017-10-20 14:54] jcfausto commented on #65
Hi @Asuza, I'm on it. I hope to submit the PR by Sunday.

[2017-10-23 20:09] jeromechrist commented on #67
Hello,

Willing to work on this, with Docker !

[2017-10-24 19:33] Asuza commented on #67
Sounds good, @jeromechrist.

[2017-10-26 13:35] BrainMaestro commented on #67
Is this still being worked on? I can pick it up if not.

[2017-10-26 16:06] jeromechrist commented on #67
@BrainMaestro yes, I'm on it.

[2017-10-29 18:20] Asuza commented on #67
Hey @jeromechrist, how's this going? I can't get Vagrant running on my local machine, so getting Docker running would be handy!

[2017-10-29 23:54] jeromechrist commented on #67
@Asuza

Hey,

So this is what I've done :

/!\ i had to comment out bower uglify or the app would not compile, it errors out at the minification of the browserified source of GameEngine /!\

- image is based off ubuntu:14.04

- it contains
      - postgresql 9.5
      - node 6
      - the repository (source) copied to /app
      - config-template.js copied to config.js
      - bootstrap-docker.sh

[2017-10-31 03:01] Asuza commented on #67
Thanks, @jeromechrist! It seems to work for me. I had to do steps a little bit differently than you'd written down, but this worked:

[code]
Then inside the docker container:
[code]

Everything works great! The only reason your website didn't load properly in the screenshot you posted is because of the missing `npm run build` step.

But, I was able to run the uglify command without any problem, so

[2017-10-31 03:04] Asuza commented on #67
Fixed via #69

[2017-10-31 03:04] #67 closed

[2017-10-31 06:25] jeromechrist commented on #67
@Asuza

Welp, glad it works for you.

I call `npm run build` inside the dockerfile, [see ](https://github.com/JSJitsu/ai-battle-website/blob/c63a22b837709eddab4d453294b45a31a0bc9175/Dockerfile#L45), so i don't have to run this cmd manually for every container.

I think it's some CRLF shenanigans since i cloned the repo on my Windows machine which is then copied inside the ubuntu image. I will test

[2017-10-31 13:54] Asuza commented on #67
That's fine if the container acts more like a dev container than a true Docker setup. I would like to improve the ease of getting up and running for contributors, so if the container can start the postgres service, like Vagrant does, that would simplify things a little bit. I'm hopeful that with #68, manual database setup will no longer be required.

I have no intentions (so far) to deploy Docker

[2017-11-27 15:37] Asuza opened #70 "Add scope to authentication to allow access to private repos"
This would allow users to hide their hero code behind a private repo, so other users can't simply copy their work. This should be opt-in, if possible, so users don't have to allow access to their private repos unless they want to.

[2017-11-28 03:43] Asuza commented on #70
I believe this needs to be fixed on [this line](https://github.com/JSJitsu/ai-battle-website/blob/c63a22b837709eddab4d453294b45a31a0bc9175/server/OAuthGithub.js#L265) by adding a scope, as mentioned in the [documentation for passport-github2](https://www.npmjs.com/package/passport-github2). The [GitHub OAuth Documenation on Scopes](https://developer.github.com/apps/building-integrations/setting-up

[2017-11-30 07:56] klemenzarn commented on #70
Hei, it's me form reddit thread. I manage to install vagrant and all dependencies, `but npm run` build gives me an error:

[code]

[2017-11-30 08:02] Asuza commented on #70
I'll try to reproduce this in the morning, but I wonder if the wrong version of Gulp or Uglify was installed when you ran `npm install`.

[2017-11-30 08:10] klemenzarn commented on #70
Probably since npm install get the latest one because you are not saving extact version of dependency

my `npm list --depth=0` is:

[code]

[2017-11-30 13:47] Asuza commented on #70
I updated _package.json_ to use specific versions and it seemed to work fine. Pull down the latest changes, possibly remove your _node_modules_ folder, and try it again. Let me know if anything goes awry.

[2017-12-03 18:44] dtfinch opened #71 "No battles since November 30th"
Just a heads up. There hasn't been a new battle set the last few days on the live website, judging by played_at on battle 1583.

[2017-12-03 19:16] Asuza commented on #71
Thanks! I'll check it ASAP.

[2017-12-03 21:55] Asuza commented on #71
Alright, the issue has been resolved, and I ran the missing game for today.

[2017-12-03 21:59] dtfinch commented on #71
Now the API is always returning the latest game 1591.

![wronggame](https://user-images.githubusercontent.com/1477446/33530277-1ba50208-d832-11e7-8f1d-56f28ac0218f.png)

[2017-12-03 22:08] Asuza commented on #71
That's concerning. I'll take a look shortly.

[2017-12-03 22:40] Asuza commented on #71
Fixed that issue as well. Thanks!

[2017-12-03 22:40] #71 closed

[2017-12-22 16:14] dtfinch commented on #53
The latest cert expired last night.

[2017-12-22 17:46] Asuza commented on #53
Not sure what's up. I ran the command to update it before I went to bed. I'll look into it ASAP.

[2017-12-22 18:14] Asuza commented on #53
Fixed. Thanks, @dtfinch.

[2017-12-22 18:14] #53 closed

[2018-03-01 18:44] DiscipleOfShinku opened #72 "Site layout for small screen sizes"
Hello!

Site layout is not responsive, so on small screen sizes significant part of the screen is covered with the team red list and only left side of the battlefield is visible. Furthermore, horizontal scroll is unavailable.

[2018-03-01 18:47] Asuza commented on #72
Thanks! The current site is a huge mess of old code. I'm working on a new version of the site which will hopefully be easier to make mobile-friendly.

[2018-03-30 17:28] Asuza commented on #72
@DiscipleOfShinku, the site has finally been re-built and has become maintainable for the first time in... maybe ever. As long as you choose to "view desktop version" on mobile, it looks fine. I'll now be trying to incrementally improve the mobile version of the site as I have time.

If you want to take a stab at it, let me know (and look at the _riotjs_ branch, not _master_).

[2018-03-30 17:30] Asuza commented on #70
@klemenzarn, this feature has been added to the _riotjs_ branch, which is what is live on the site now.

[2018-03-30 17:30] #70 closed

[2018-03-30 17:30] Asuza commented on #61
Likely no longer necessary since the site has been re-written in the _riotjs_ branch.

[2018-03-30 17:30] #61 closed

[2018-03-30 17:31] Asuza commented on #55
No longer an issue due to the rewrite in the _riotjs_ branch.

[2018-03-30 17:31] #55 closed

[2018-03-30 17:32] Asuza commented on #34
Not going to worry about this anymore.

[2018-03-30 17:32] #34 closed

[2018-03-31 21:08] Asuza commented on #65
Fixed by #68. And a lot of small refactors.

[2018-03-31 21:08] #65 closed

[2018-04-01 04:38] Asuza commented on #60
Thanks for getting this started, @adrichey! Finally got it merged somewhere.
Fixed via #66.

[2018-04-01 04:38] #60 closed

[2018-04-01 16:45] DiscipleOfShinku commented on #72
Oh! I didn't know that such option exist in mobile browsers, not only on sites.

It would be interesting to give a try. What thoughts do you have about layout for mobile devices?

[2018-04-01 17:13] Asuza commented on #72
Good question! I like to think I'm not too picky, but I'll try to give it some thought. I think the navigation and a visible battle grid would be most important.

FYI, if you give it a try too soon, the readme is a bit out of date at the moment.

[2018-04-01 17:44] DiscipleOfShinku commented on #72
I think battlefield on mobile devices will look better with sprites with less padding and with vertical health bar instead of name. Or maybe sprites themselves could be health bars.
And here I think maybe tiles could be even clickable for stats view popup.

I'll wait updated readme.

[2018-04-02 02:25] Asuza commented on #72
I updated the readme... I recommend using Docker, if possible. I've been using it for development for this for a little while now since Vagrant quit working on me, and it should be the smoothest to get going with.

Let me know if anything gives you trouble.

[2018-04-02 04:20] DiscipleOfShinku commented on #72
I think contributing.md is outdated too, since it points out that I should branch from _master_.

[2018-04-02 07:50] Asuza commented on #72
You should branch from _master_, I merged _riotjs_ into it since I made that comment. I should have mentioned that here.

Will vagrant work for you? I'm sure I can help you get the site working with it... I just can't use it personally to make it as easy as possible.

If not, you would need PostgreSQL 9.5 or higher and Node 6 or higher, and ideally yarn. Maybe you already have those things install

[2018-04-05 03:15] Asuza commented on #52
Players can now disable their account from their account page.

[2018-04-05 03:15] #52 closed

[2018-04-05 03:26] Asuza commented on #56
@darrylpargeter do you want to work on this anymore? Several things have changed since #63 was created.

[2018-04-07 18:18] DiscipleOfShinku opened #76 "Missing folder when build with docker"
Running command
`docker build -t ai-battle-website .`
I've got this message:

Probably `mkdir public/js` is missing.

[2018-04-07 19:50] #76 closed

[2018-04-07 19:55] Asuza commented on #76
@DiscipleOfShinku pull in master and try again. It should be fine now.

[2018-04-08 11:26] DiscipleOfShinku opened #78 "Errors when running ./docker-startup.sh"
After running `./docker-startup.sh` I've got this output:

[2018-04-08 14:27] Asuza commented on #78
Make a copy of the config template file and name it _config.js_. You might need to set the user for the database connection but most of the defaults should be okay, I think. I'll try to paste mine here when I can.

[2018-04-08 16:25] DiscipleOfShinku commented on #72
Is it OK if I'll use `grid`? And probably stylus.

[2018-04-08 18:17] DiscipleOfShinku commented on #72
Grid is [partially supported by IE 11 and not supported by Opera Mini and several minor browsers](https://caniuse.com/#search=grid) but supported by other major browsers.
Stylus is [CSS preprocessor](https://github.com/stylus/stylus/) which allows using of [simple media queries](https://github.com/jescalan/rupture) but requires compilation of .css files from .styl files.

[2018-04-08 18:45] Asuza commented on #72
I've used some CSS preprocessors, but not that one! Feel free to use it. There's no real build process to speak of, so hopefully that doesn't get in your way too much. I still need to research how I'd like to handle that for building Riot.

[2018-04-08 22:13] DiscipleOfShinku opened #79 "Mines from previous games on battlefield"
After site was updated to a new version I started to notice that when I select another game, mines from previous game remain on battlefield, messing with new tiles.

![mines](https://user-images.githubusercontent.com/23262724/38473042-a94205f8-3b91-11e8-9096-cb6b098c0246.png)

I observed that behavior in 3 major browsers.
I think that `<virtual>` component's content destroying may be bugged. I cha

[2018-04-08 22:33] Asuza commented on #79
Thank you for looking into that! I wasn't sure what the issue was. I believed it was related to the Riot attribute `no-reorder`, which I had to use to keep performance reasonable. Removing that attribute seemed to resolve the issue, but using the slider becomes unbearably slow if you do. Either way, it feels like possibly a bug with Riot.

[2018-04-09 05:01] DiscipleOfShinku commented on #79
I have some problem with branch updating (well, with pushing too, but I'll yet have to look into it):

[2018-04-09 19:26] DiscipleOfShinku commented on #79
Turns out it should be `git pull upstream master`, not `git pull upstream/master`. Probably a new version of interface.

[2018-04-09 19:28] Asuza commented on #79
Fixed via #80. Thanks! It should now be live.

[2018-04-09 19:28] #79 closed

[2018-04-19 20:21] dtfinch opened #83 "Partial battles today"
I noticed that only 4 battles appear for today, the 19th.

[2018-04-19 20:39] Asuza commented on #83
Thanks, I'll look into this as soon as I can.

[2018-04-20 06:54] Asuza commented on #83
It looks like the database ran out of connections or something along those lines. I've merged several changes today that will hopefully prevent that from happening for a while.

The changes include:
- Increasing the number of available database pools
- Temporarily disabling user accounts who don't have hero/helper code

If all goes well, the next battle will have fewer total games, but without any

[2018-04-20 16:32] Asuza commented on #83
Seemed to work. Closing this ticket, but please open another if you spot anything suspicious.

[2018-04-20 16:32] #83 closed

[2018-04-20 16:34] Asuza commented on #78
Please re-open the issue if you're still having trouble.

[2018-04-20 16:34] #78 closed

[2018-04-20 16:34] Asuza commented on #56
Fixed via #84, #85, #86, and #87.

[2018-04-20 16:34] #56 closed

[2018-04-23 20:16] DiscipleOfShinku opened #89 "Wrong recent stats"
I'm getting wrong values for most of attributes in recent stats. From other game maybe (a team and a winner values do not correspond to those of my recent game)?
Also, I think my "recent" values did not change for some time.

[2018-05-11 02:13] Asuza opened #91 "Script execution timed out"
@allknowingfrog, something's up with your AI. It's causing a `Script execution timed out.` error during the game. I believe your script has about 3 seconds to run, and yours is taking longer than that, which results in your hero standing still.

[2018-05-11 02:22] Asuza opened #92 "TypeError: Cannot read property 'distance' of undefined"
@joonsson, there's an error in your script.
[code]

[2018-06-02 19:07] DiscipleOfShinku commented on #89
If that'll help, values I every time get are:

- kills: 4
- damage dealt: 210
- mine captured: 0
- diamonds earned: 0
- health recovered: 0
- souls absorbed: 2

[2018-06-04 19:46] Asuza commented on #91
Closing due to inactivity.

[2018-06-04 19:46] #91 closed

[2018-06-04 19:47] Asuza commented on #92
Closing due to inactivity.

[2018-06-04 19:47] #92 closed

[2018-06-04 23:16] allknowingfrog commented on #91
@Asuza My apologies, I saw this awhile ago and never got around to it. I had an infinite loop in some pathing logic that should be resolved now.

[2018-06-04 23:51] Asuza commented on #89
Thanks! I'm posting what I have for today and I'll try to check it again tomorrow:

- kills: 0
- damage dealt: 50
- mines captured: 0
- diamonds earned: 0
- health recovered: 0
- souls absorbed: 0

[2018-06-12 18:55] Asuza commented on #72
Thank you for this update! Fixed in #82.

[2018-06-12 18:55] #72 closed

[2018-06-12 19:08] Asuza commented on #89
This should be fixed now. There was some bad data in the _game_results_ table which has been removed. This might slightly alter lifetime stats for some players, but it shouldn't be a significant change.

[2018-06-12 19:08] #89 closed

[2018-06-12 19:31] DiscipleOfShinku commented on #89
Yes, now stats seems to be correct. Thank you!

[2018-08-31 16:25] flesler opened #96 "What Node.js version is being used to run the simulation?"
My bot is working perfectly locally with Node.js v8.11.3. The package.json doesn't specify any specific version or requirement by 8.x is the current LTS.

I tried an overhaul of my bot today and it didn't move, I'm guessing it's due to the Node.js version.

Can you confirm and, if you are using something like 6.x, considering switching to LTS?

Thanks

[2018-08-31 16:35] Asuza commented on #96
The server is running Node 8, so that shouldn't be a problem for you. I'm seeing the following error in the logs:

[code]

Let me know if that doesn't help and I'll see what I can do to assist.

[2018-08-31 16:48] flesler commented on #96
Hi, thanks for providing the logs (and so fast!). I'm testing with the test_battle, will see if I figure out the issue

[2018-09-03 13:07] flesler commented on #96
@Asuza seems like it's still broken. Do you mind posting updated logs? Thanks

[2018-09-03 16:09] Asuza commented on #96
I don't see any errors in the logs for the past few days for your hero. I watched the [latest game with your hero in it](https://jsfight.club/#game/3468), and the database shows that it had 4 turns, but didn't perform a valid action during any of those turns.

The related queries, if you're interested:
[code]

[code]
If you want to add `console` output to your hero, that will show up in the logs a

[2018-09-03 17:43] flesler commented on #96
I still don't figure out what, but something works differently when running the test_battle and the real thing, I wonder what is it. But yes, the last match was not a good one to measure because it died quickly and started quite cornered. I might add logs, will also check tomorrow's match and get back to you.

Thanks @Asuza

[2018-09-03 17:57] Asuza commented on #96
If you do add logs, please add some identifier to the start of each one, like "`[flesler]`". Otherwise, I can't tell your logs apart from anyone else's.

[2018-09-03 18:31] dtfinch commented on #96
I think the difference here is that the website battle converts the gamedata object to json and back, which break all the shared references (like myHero vs its tile) into separate copies.

[2018-09-03 19:56] flesler commented on #96
@Asuza I've been checking the game runner in this project and the script that fetches code. I don't see anything out of the ordinary.

My guess is the `gameData` object is different when running for real and in the test.

I see there's a [run-test-game.js](https://github.com/JSJitsu/ai-battle-website/blob/master/gamerunner/run-test-game.js), I don't have a DB with the GH auth keys (obviously). Cou

[2018-09-03 20:16] flesler commented on #96
@dtfinch my code at least is copying all the data to the outer scope every time the "move function" is called, that should keep the references up to date no?

[2018-09-03 20:32] dtfinch commented on #96
When you modify the tiles to add .x, .y, and such, game.activeHero/myHero is unaffected because it's not pointing to the tile, but rather a copy due to the json encode/decode.

[2018-09-03 20:36] flesler commented on #96
@dtfinch ohhh I get it now. That makes sense, will patch that and see if that solves it

[2018-09-03 20:42] flesler commented on #96
Ok done, let's see if it works tonight

[2018-09-04 11:56] flesler commented on #96
Ok it worked now, thanks a lot to both

[2018-09-04 11:56] #96 closed

[2018-09-04 11:58] flesler commented on #57
The other option I see is to make the rankings based on ratios. So instead of total kills, kill ratio. Total wins -> win ratio. Much fairer to new players

[2018-09-04 12:13] flesler opened #97 "Allow speeding up battles"
Maybe a thing you click and it goes 2x -> 4x -> 1x

It might be cool to speed up all moves except the one from the signed user

[2018-09-06 01:12] Asuza commented on #57
Closing this to create a new issue to use ratios for statistics.

[2018-09-06 01:12] #57 closed

[2018-09-06 01:30] Asuza opened #98 "Make it possible for newcomers to climb the leaderboard"
For example, instead of showing total wins as "376" and losses as "259", show the win ratio as "1.45". Instead of showing diamonds as "58725", show them as an average per game of "16.87" or something similar.

These statistics should be the default display for the leaderboard. However, the existing statistics should remain accessible. These changes should provide a more even playing field for newc

[2018-09-06 01:41] flesler commented on #98
I have code calculating this from the JSON of historical matches if you want it. It should be fairly easy to do, though, no magic there

[2018-09-06 13:13] Asuza commented on #98
Sure, that would be nice to have as a starting point, even if it's simple.

[2018-09-06 13:15] Asuza opened #99 "Document the public API"
The API, while undocumented, is currently public. It would be nice to have a page dedicated to explaining the various routes and payloads for developers to use if they so choose.

[2018-09-21 15:00] flesler opened #100 "Account page shows Health Recovered, should show Health Given"
So it shows how much you healed yourself. Seems fine to store it but overall, it's a lot less meaningful (in my opinion) than how much you healed others.

By the way, I'm hoping the "Healer" ranking is sorted by Given and not Recovered 😄

[2018-09-22 01:59] Asuza commented on #100
Oh, yeah. That's easy enough to change. The correct data is already getting to the UI, just not shown. If I don't get to it soon, I'll probably make this a Hacktoberfest issue.

[2018-10-06 15:40] redice44 commented on #97
I'll take a run at this. I think the only thing I'm a bit concerned about is slowing it down to `1x` speed for the signed in user's turn. If it's just a straight speed up that shouldn't be much of a problem.

Thoughts on just making it a straight speed up across the board? @Asuza

[2018-10-06 16:01] Asuza commented on #97
@redice44, it should speed up the speed of the entire game via a select box or some other UI component... I'm fine with it being for all turns of the game.

If you *want* to, you could add a checkbox to slow down the speed for the person logged in, but it's not necessary by any means.

[2018-10-06 18:46] redice44 commented on #97
@Asuza PR is up for this issue 😄  Please take a look and let me know what you think. Enjoying this project. Nice job 👍

[2018-10-09 22:47] Asuza commented on #97
Thanks for the PR, @redice44! It looked good to me, and the changes are now live. Closed via #101.

[2018-10-09 22:47] #97 closed

[2018-11-12 08:50] woprzech commented on #78
I created a copy of the config file and set user to 'user' but I still get an error:
[code]

[2018-11-12 09:18] woprzech commented on #78
Ok, I run /database/setup-postgres.sh with proper parameters for 'user' and it is working now :)

[2018-11-12 16:54] Asuza commented on #78
Glad you figured it out! If you want to tweak some files or configs to make things easier for others, feel free.

[2018-12-14 16:40] flesler commented on #98
@Asuza :pray:

[2018-12-14 16:45] Asuza commented on #98
@flesler I simply haven't had time to work on the site lately. I'm hoping my amount of free time will improve next year and I can prioritize some of the open issues.

[2019-10-05 03:18] Asuza opened #103 "Configure the app to be brought up with docker-compose"
Currently, the application can only be brought up via `docker` commands. It would be nice to bring it up simply with `docker-compose up`.

[2019-10-05 04:46] JasonSarwar commented on #103
Can I work on this?

[2019-10-05 05:15] Jaspaul commented on #103
@JasonSarwar Just saw your comment now. My apologies I should have posted here before I started working on this.

@Asuza the attached PR should allow you to bring up this project with `docker-compose up`

[2019-10-05 20:54] JasonSarwar commented on #103
@Jaspaul No problem!

[2019-10-09 13:04] #103 closed

[2020-09-17 18:09] dtfinch opened #115 ""Log in with GitHub" stopped working"
https://jsfight.club/auth/github is giving the response:

    TypeError: dbHelper.getPlayer(...).then(...).done is not a function
        at /home/asuza/dev/jsjitsu/site/server/OAuthGithub.js:116:14
        at pass (/home/asuza/dev/jsjitsu/site/node_modules/passport/lib/authenticator.js:357:9)
        at Authenticator.deserializeUser (/home/asuza/dev/jsjitsu/site/node_modules/passport/lib/authenti

[2020-09-17 19:47] Asuza commented on #115
Thank you for the report! I will investigate as soon as I am able.

[2020-09-18 03:41] Asuza commented on #115
@dtfinch please try again and let me know what you find.

[2020-09-18 16:36] dtfinch commented on #115
It's working now.

[2020-09-18 16:36] #115 closed

[2020-10-04 11:45] scampiuk commented on #99
I would like to be assigned this issue please :heart:

[2020-10-10 21:20] scampiuk commented on #99
Just an update, this is coming along now
[-] documented most of the endpoints
[x] added route to view the documenation on the website
[  ] need to add tests

what I'm going to do I think is open a PR early on this, there are things I don't know and I will obviously have missed because, well, it's not my app :D

However, coming together.

Regarding the testing, I'm wondering if it's ok if I open in

[2020-10-11 02:08] Asuza commented on #99
Absolutely. The primary goal of this issue was to document, not test. It's looking good!

[2020-10-23 13:48] Asuza commented on #99
@scampiuk, just wanted to check in since October is almost over. Can you make a PR for this?

[2020-10-26 11:56] scampiuk commented on #99
Yes sorry, I hate it when I sign up for things then forget I've got a job and two kids and stuff! :D I've got this week off work so i'll push the document up over the next 48 hrs

[2020-10-26 12:02] scampiuk commented on #100
I spotted this and noticed that, on the surface, it was a 30 seconds fix -- I'm guessing I've missed something but I can't see how to test inside the account area locally

[2020-10-30 22:53] dtfinch opened #118 "Tie-breaker victory recorded as loss"
https://jsfight.club/#game/7406 ends in a red victory for having more players remaining.

But the API reports game 7406 as a loss:

https://jsfight.club/api/users/dtfinch/games

[2020-11-01 15:34] Asuza commented on #118
Thank you for the report! Have you noticed any other games show up incorrectly via the user api?

[2020-11-02 16:30] dtfinch commented on #118
Here's a couple more examples, same scenario, red victory recorded as defeat:
https://jsfight.club/#game/7236
https://jsfight.club/#game/5494

[2021-03-05 12:36] SiddharthShyniben opened #122 "More clarity for docs."
Hi, I would like to know a few more things about the game:
- What happens when a hero with maximum health moves into a heath well?
- What is the maximum health in the first place? Is is 100? Or is there a limit?
Thanks in advance!

[2021-03-05 14:45] Asuza commented on #122
I believe a hero with maximum health will not heal any more than that, with a maximum health of 100. I should add that information to the game rules, thanks for bringing it up.

[2021-03-05 15:01] SiddharthShyniben commented on #122
Thank you!

There is a lot of missing information I think. If you want I can point them out.

[2021-03-05 18:25] Asuza commented on #122
Absolutely, @SiddharthShyniben. I don't often get feedback, so feel free to point out anything.

[2021-03-06 02:31] SiddharthShyniben commented on #122
Alright, I'll just reread the docs just in case I missed anything.

[2021-03-06 02:40] SiddharthShyniben commented on #122
Here's a few:

What numbers? The number of gems in the mine or what?

And there is no description of what actually is contained in the gameData object.

[2021-03-06 02:44] SiddharthShyniben commented on #122
And I also see trees on the [JSFight](https://JSFight.club) website. What are they? Obstacles? Or is it possible to walk through them?

[2021-03-08 14:48] Asuza commented on #122
Those are obstacles, currently. There's no way to walk through.

[2021-03-08 16:03] SiddharthShyniben commented on #122
But I don't see any mention of them.

[2021-06-10 19:46] dtfinch opened #127 "Partial battle run"
Today there were just two battles with 7 bots per team.

![short](https://user-images.githubusercontent.com/1477446/121587375-90de9000-c9e9-11eb-8ec6-f65de48b62d2.png)

[2021-06-10 23:02] dtfinch commented on #127
My account page said it was disabled due to a "Code fetch error"

[2021-07-13 04:07] Asuza commented on #127
@dtfinch, I've finally gotten a chance to look at this issue, and it appears that on that day, jsfight.club was getting authorization errors back from GitHub and wasn't able to download most player code. Unfortunately, the logs do not show enough information for me to know what exactly happened. I'll see if I can improve the logs in case this happens again.

[2021-07-13 04:09] Asuza commented on #122
@SiddharthShyniben, did you have anything you definitely want to see added to the docs? Or were you able to figure everything out?

[2021-07-13 05:26] Asuza commented on #118
This issue is a real head-scratcher. I've been trying to track down the root cause, and the logic appears to be correct. In short, it's like this:
- If Blue Team is vanquished, Red wins
- If Red Team is vanquished, Blue wins
- If Red Team has more diamonds, they win (and vice versa)
- If diamonds are tied, the team with the most living heroes wins

There was a bug with the last bullet, but as far

[2021-07-13 06:05] Asuza commented on #118
I think I figured out the problem! I'll know for sure when the game runs today. Basically, the game engine wasn't getting updated in all the places it should be.

[2021-08-13 20:33] Asuza commented on #127
Thanks, @dtfinch. Pretty sure GitHub is changing the API to get player code, so it could be broken and/or breaking soon from that. I just haven't made time to look at the problem yet.

[2021-09-10 17:48] dtfinch commented on #127
Two partial days in a row again (8964-8967). Same 28-29 bots each time.

Their api documentation says unauthenticated requests are rate-limited to 60 per hour, so I think it's hitting that after an auth error.

https://docs.github.com/en/rest/overview/resources-in-the-rest-api#rate-limiting

[2021-09-13 20:59] Asuza commented on #127
Thanks for the info, @dtfinch! I haven't gotten to spend as much time as I was hoping, but that rate-limiting would definitely break the existing game runner. Good to know.

[2022-08-14 19:38] Cyberf1 opened #132 "Errors when running ./docker-startup.sh"
After running ./docker-startup.sh I've got this output:
 * Starting PostgreSQL 9.5 database server                                                                                                                                                   [ OK ]
➤ YN0000: ┌ Resolution step
➤ YN0000: └ Completed
➤ YN0000: ┌ Fetch step
➤ YN0000: └ Completed in 0s 632ms
➤ YN0000: ┌ Link step
➤ YN0062: │ fsevent

[2022-08-24 13:42] Asuza commented on #132
This is likely my fault! I switched the repo to use Yarn PnP, but forgot to verify the changes in Docker. I will try to take a look when I have time.